{#
SPDX-FileCopyrightText: 2022 etke.cc

SPDX-License-Identifier: GPL-3.0-or-later
#}

[Unit]
Description=Run journalctl vacuuum procedure

[Timer]
Unit=systemd-journald-autovacuum.service
OnCalendar={{ system_cleanup_logs_calendar }}

[Install]
WantedBy=timers.target
